<table>
  <thead>
  {{ .Inner }}
</thead>
  <tbody>
  {{ $url := (index .Params 0) }}
{{ $sep := "," }}
{{ $opts := dict "delimiter" $sep "format" "csv" "targetType" "slice" }}
{{ $rows := slice }}
{{ if strings.HasPrefix $url "http" }}
  {{ with try (resources.GetRemote $url) }}
    {{ with .Err }}
      {{ errorf "Unable to fetch remote CSV %q: %s" $url . }}
    {{ else with .Value }}
      {{ $rows = transform.Unmarshal $opts . }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $rows = transform.Unmarshal $opts (readFile $url) }}
{{ end }}
{{ range $row_i, $row := $rows }}
<tr>
  {{ range $col_i, $col := $row }}
<td>{{ $col }}</td>
  {{ end }}
</tr>
  {{ end }}
</tbody>
</table>
